ZULU/pkgs/Wadl/SendButtom.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SendButtom" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SendButtom" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Emotions1Name_Valor_def" />
      <string name="ManualTriggerInput_Emotions1Howdoyoufeel_Valor_def" />
      <dateTimeString name="ManualTriggerInput_Crearelemento_Date_def" />
      <object name="ManualTriggerInput">
        <property name="Emotions1Name_Valor" type="string" />
        <property name="Emotions1Howdoyoufeel_Valor" type="string" />
        <property name="Crearelemento_Date" typeRef="ManualTriggerInput_Crearelemento_Date_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Emotions1Name_Valor" path="/Emotions1Name_Valor" type="xs:string" required="true" />
            <param style="plain" name="Emotions1Howdoyoufeel_Valor" path="/Emotions1Howdoyoufeel_Valor" type="xs:string" required="true" />
            <param style="plain" name="Crearelemento_Date" path="/Crearelemento_Date" type="service:ManualTriggerInput_Crearelemento_Date_def" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>